<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>Express Bar Show</title>
        </head>
        <body>
            <!--

            {% for fruit in fruits%}
                <li>
                    <a href="/fruits/{{forloop.index0 }}">{{fruit.name}}</a>
                </li>
            {% endfor%}


            {% if fruit.readyToEat == true %}
                <p>It is ready to eat</p>
            {% else %}
                <p>It is NOT ready to eat</p>
            {% endif %}
            <a href="/fruits/">back to index</a>

        -->
        <h1>At foo bar</h1>
        <h2>{{drink.name}}</h2>
        <h3>Price: {{drink.price}}</h3>
        <img src="{{drink.image | append: ".png"}}">
        <div>
        <a href="/drinks"> Back to Home</a>
       <div>
        </body>
    </html> 